<div class="container">
    <div class="displayTableCell">

        <div class="authBlock">
            <h1>Sign In</h1>
            <p>To track your workouts and view your data please login using your Google Account!</p><br>
            <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <input matInput id="username" required name="username" #userName maxlength="256">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input matInput id="password" required name="password" type="password" #userPassword maxlength="256">
            </mat-form-field>
            <br>

            <!-- Calling SignIn Api from AuthService -->
            <div class="formGroup">
                <button mat-flat-button color="primary" type=button
                    (click)="authService.SignIn(userName.value, userPassword.value)">Login</button>
            </div>

            <div class="formGroup">
                <span class="or"><span class="orInner">Or</span></span>
            </div>
        
            <!-- Calling GoogleAuth Api from AuthService -->
            <div class="formGroup">
                <button mat-flat-button color="primary" type=button (click)="authService.GoogleAuth()">Login with
                    Google</button>
            </div>

            <!-- <div class="forgotPassword">
                <span routerLink="/forgot-password">Forgot Password?</span>
            </div> -->
        </div>

        <div class="redirectToLogin">
            <span>Don't have an account? <span class="redirect" routerLink="/register-user"><u>Sign Up</u></span></span>
        </div>

    </div>
</div>
<!-- https://www.positronx.io/full-angular-7-firebase-authentication-system/ -->